:root {
  --secondary : #620000;
  --primary: #C60000;
  --gradient:  radial-gradient(136.53% 487.66% at 36.7% 27.31%, #C60000 0%, #620000 100%);
  --gray: #6A6A6A;
  --black: #282828;
  --white: #F2F2F2
}

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.justifyContentCenter {
  justify-content: center;
  display: flex;
}

.link {
  color: var(--secondary) !important;
  font-weight: 600 !important;
  /* font-size: 14px !important; */
  text-decoration: underline !important;
  cursor: pointer !important;
}

.gradientBtn {
  background-image: radial-gradient(136.53% 487.66% at 36.7% 27.31%, #C60000 0%, #620000 100%);
  color: #fff;
}

.singleInput {
  margin-right: 10 !important;
  border: '1px solid #ced4da' !important; 
  width: 20 !important;
  line-height: '3rem' !important;
  text-align: center !important;
  margin: 2 !important;
  border-radius: 2 !important;
  
}

.btn-light {
  background-color: var(--white) !important;

}
.btn-light:hover {
  background-color: var(--white) !important;

}